header {
  @include flex-box(row, space-between, center, nowrap);
  padding: 40px 6%;
  img {
    width: 7rem;
  }
  .nav {
    @include flex-center(row);
    gap: 2rem;
    &_links {
      color: var(--Desaturated-Blue);
      transition: all 150ms;
      &:hover {
        color: var(--Very-Dark-Blue);
      }
    }
  }
}
